html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 35%;
    height: auto;
    backdrop-filter: blur(0.5rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 1.8rem 3.7rem transparent;
}
.search-input{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.city-name{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 15px;
}
.city-name::placeholder{
    color: black;
    font-size: 1.5rem;
}.search{
    font-size: 1.3rem;
    background-color: coral;
    border: none;
    padding: 5px;
    border-radius: 100%;
    position: relative;
    right: 32px;
}
.error{
    margin-top: 20px;
    font-size: 1.5rem;
}
.location{
    font-size: 1.9rem;
}
.weather{
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}
.image{
    width: 150px;
    height: 150px;
    text-align: center;
    margin-top: 20px;

}
.temprature{
    margin-top: 20px;
    font-size: 4.9rem;
    text-align: center;
    margin-bottom: 20px;
}
.temp-container{
    display: flex;
    justify-content: center;
    margin: 3rem 0 5rem 0;
    text-align: center;
}
.temp-container div {
    padding: 1rem 1.5rem;
}
.temp-container div:first-child {
    border-right: 0.1rem solid black;
}
.temp-container .title {
    font-weight: 600;
    color: black;
    font-size: 1.6rem;
}
.temp-container .temp {
    font-weight: 600;
    color: orangered;
    font-size: 1.6rem;
}